.container {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-transform: capitalize;
}
.card {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}

.city {
  font-size: 36px;
  padding: 20px 0px 0px 0px;
  font-weight: bold;
}

.weather {
  padding: 10px 0px 40px 0px;
}
hr {
  background: white;
}
.forecast {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  padding: 5px 0px;
}
.weather-forecast-temperature-max {
  text-align: center;
  font-size: 13px;
}
.weather-forecast-date {
  text-align: center;
}
